.tweets-pulled-wrapper {
  background: url('../images/breaking-banner.png') no-repeat;
  margin: 0 auto;
  width: 830px;
  font-family: Georgia;
  font-size: 13px;
}

.tweets-pulled-wrapper a {
  text-decoration: none !important;
  color: #4099FF !important;
}

.tweets-pulled-wrapper a:hover {
  color: #4099FF;
  text-decoration: underline !important;
}

.tweets-pulled-listing {
  width: 587px;
  margin-left: 215px;
  list-style: none;
  padding-top: 15px;
}

.tweets-pulled-listing .tweet {
  height: 30px;
  overflow: hidden;
  line-height: 15px;
  padding-bottom: 10px;
}